@model JsonCMS.Models.Core.Menu
<ul class="nav navbar-nav navbar-right">
    @foreach (var menuItem in Model.menu)
    {
        @if (menuItem.page != null)
        {
            <li class="feeditem"><a href="@menuItem.page.friendlyUrl">@menuItem.page.displayName</a></li>
        }
    }
</ul>