@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>404 Not Found</h1>

    <p><a href="/?d=@ViewBag.SiteTag">Click here for home page</a></p>

    <script>
        window.setTimeout(function () { document.location.href = "/?d=@ViewBag.SiteTag"; }, 1500);
    </script>

</body>
</html>