@{
    Layout = "~/Views/Home/_Layout.cshtml";
}
@{
    ViewData["Title"] = "JsonCMS";
}

<h2>
    A CMS powered entirely by JSON and HTML written in .Net Core?
</h2>
<br />
<p>
    Fed up of slow, vulnerable to hackers, bloated CMS's?
</p>
<p>
    This is a CMS with no database, nothing to be hacked, everything is setup by editing JSON files, HTML snippets, and dropping images in folders for galleries.
</p>
<p>
    Ideal for portfolio sites for photographers or artists, JsonCMS does require you to know how to edit JSON and generally have some web dev experience,
    but not having to mess with WordPress - that's got to be a good thing?
</p>
<h3>Versions (currently v0.3)</h3>
<p>
    0.1 Code to drive the front end of the package.
</p><p>
    0.2 Include 3 demo sites.
</p><p>
    0.3 Include support for blogs and a blog demo site.
</p><p>
    0.4 The cms backend for editing the json files and adding gallery images etc.
</p>

<h3>Demo Sites</h3>
<table>
    <tr>
        <td>
            <a href="http://archive.json-cms.co.uk">archive.json-cms.co.uk</a>
        </td>
        <td>
            shows carousel, knockout gallery and gallery using javascript
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://bradford-pubs.json-cms.co.uk">bradford-pubs.json-cms.co.uk</a>
        </td>
        <td>
            shows flexbox for grid layout
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://in-your-face.json-cms.co.uk">in-your-face.json-cms.co.uk</a>
        </td>
        <td>
            shows angular template using gallery API
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://unit.json-cms.co.uk">unit.json-cms.co.uk</a>
        </td>
        <td>
            shows blog example
        </td>
    </tr>
</table>

@section Menu {
    <li><a href="https://github.com/micro-dev/JsonCMS">GitHub Repo <i class="fa fa-github" aria-hidden="true"></i>
</a></li>
}

