<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>With Thanks</h3>
                <p>
                    Thanks to the photographers and writers who made their work available under appropriate creative
                    commons licences which made this section possible. All photos have been credited on popups &amp; main images with author links.
                </p>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5">
                <h3>Disclaimer</h3>
                <p>
                    This section of the site pulls unfiltered information from 3rd party sites. If you are offended
                    by strong language or are considering showing this site to young children you may wish not to
                    use the section.
                </p>
            </div>
        </div>
    </div>
</div>
