<header id="masthead" class="site-header" role="banner">
    <div class="top-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a href="https://www.youtube.com/channel/UCc7Nb48c2VM7uNshHDR_NjA" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.instagram.com/noselfiestick/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <div class="search-box">
                        <div class="search-container">
                            <div class="mobile-serch-form-coantainer">
                                <form method="get" class="searchform" action="http://www.no-selfie-stick.com/">
                                    <input type="text" name="s" class="search" value="Search here.." onfocus='if (this.value == "Search here..") { this.value = ""; }' onblur='if (this.value == "") { this.value = "Search here.."; }' />
                                </form>
                            </div>

                            <div class="serch-form-coantainer desktop">
                                <form method="get" class="searchform" action="http://www.no-selfie-stick.com/">
                                    <input type="text" name="s" class="search" value="Search here.." onfocus='if (this.value == "Search here..") { this.value = ""; }' onblur='if (this.value == "") { this.value = "Search here.."; }' />
                                </form>
                            </div>
                            <span id="search-button" class="desktop"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-branding">
                    <h1 class="site-title"><a href="http://www.no-selfie-stick.com/" rel="home">No Selfie Stick</a></h1>
                    <p class="site-description">Travel for the slightly more seasoned traveller</p>

                </div>

                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i></button>
                    <div class="menu-menu-1-container">
                        <ul id="primary-menu" class="menu">
                            <li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-160">
                                <a href="http://www.no-selfie-stick.com/guides">Guides</a>

                            </li>
                            <li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-528">
                                <a href="http://www.no-selfie-stick.com/videos/">Videos</a>
                            </li>
                            <li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a href="http://phototrips.no-selfie-stick.com">Phototrips</a></li>
                            <li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a href="http://100destinations.martinruffe.co.uk/">Top 100</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>