
/* set defaults */

p, body, html, img, h1, h2, h3, h4, h5, a, div, ul, li, textarea, input {
	margin: 0px;
	padding: 0px;
}


p, ul {
    font-size: 100%; /* note 63% recommended on body */
}

ul p {
    font-size: 100%;
}	
	
p
{
    line-height: 150%;
}

.nodisplay, .hd
{
    clear: both;
    display:none;
}

.novisible 
{
    clear: both;
    visibility:hidden;
    height: 0px;
    margin:0px;
    padding:0px;   
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* header */

#headerimage {
    float: left;
    width: 100%;
}

.navbar-header {
    position: relative;
}

.navbar-brand 
{
   margin-left: 14%;
   position: absolute;
   padding-top: 2.8%;
   width: 85%;
   top: 0;
   left: 15%;
   font-size: 230%;
   color: white;
}   

.subheader 
{
   margin : 0em 0px 0px 0%; 
   font-size: 85%;
   width: 85%;
   top: 50%;
   position: absolute;
   left:15%;
}

/* body */


/* footer */

footer 
{
    z-index: 1;
}

footer h3 
{
    font-weight: bold;
    margin-bottom: 12px;
    border-radius: 4px;
    width : 95%;
    font-size: 80% !important;
    border: white 1px solid;
    padding: 12px;
}

footer p, footer a {
    font-size: 1.3rem !important;
    width:95%;
}

/* jetmenu megamenu */

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;    
}

.navbar .container {
    margin-left: -15px;
}

.jetmenu {
    z-index: 1;
    background-color: #434a54 !important;
}

.jetmenu li {
    margin-bottom: 0;
}

.jetmenu a {
    color: white !important;
}

.navbar-default .navbar-brand {
    color: white;
}

.megamenu {
    margin-top: -5px;
}

.megamenu > div {
    width: 33% !important;
    display: inline-block;
    padding: 5px;
}

/* homepage */

.homeImages {
    margin: 0;
}

.homeImages img {
    width: 100%;
}

.homeImages .leftCol li, .homeImages .rightCol li {
    float: left;
    width: 50%;
}

.homeImages img {
    padding: 0px !important;
    margin: 0 !important;
}

.homeImages li {
    margin: 0 !important;
    padding: 0px !important;
    list-style: none;
    display: inline;
}

/* standard page */

.pageType_Standard .bodySection {
    background-color: white;
    margin-right: 0;
    margin-left: 0;
}

.wikiText {
    font-size: 14px;
}

/* twitter section */

#twitterregion {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#twitterregion h3 
{
    font-size: 110% !important;
    color: white;
    padding: 10px;
    border: 2px white solid;
    margin: 5px 5px 15px;
    border-radius: 4px;
}

#tweets 
{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#twitterregion h3 {
    padding-left: 10px;
}

#tweets img 
{
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
    clear: both;
}

#tweets .tweet 
{
    margin-bottom: 15px;
    font-size: 70%;
    clear: both;
}

#tweetpage 
{
    clear: both;
    margin-top: 5px;
    padding-bottom: 15px;
}

#tweetpage p 
{
    margin-left: 10px;
    font-size: 75%;
}

#tweetpage a {
    margin-right: 3px;
}

.tweetp1 .pg1, .tweetp2 .pg2, .tweetp3 .pg3, .tweetp4 .pg4, .tweetp5 .pg5, .tweetp6 .pg6, .tweetp7 .pg7, .tweetp8 .pg8, .tweetp9 .pg9, .tweetp10 .pg10
{
    color: #ff290d;
}

.tweet 
{
    display: none;
}

.tweetp1 .page1, .tweetp2 .page2, .tweetp3 .page3, .tweetp4 .page4, .tweetp5 .page5, .tweetp6 .page6, .tweetp7 .page7, .tweetp8 .page8, .tweetp9 .page9 , .tweetp10 .page10   
{
    display: block !important;
}

/* comment */

#commentForm .row {
    margin-left: 10px;
    margin-right: 10px;
}

#commentForm #submitbutton {
    margin-bottom: 20px;
}

/* media queries */

@media only screen and (max-width : 992px){
    .homeImages li:nth-of-type(1n+5) {
        display: none;
    }

    .subheader {
        display: none;
    }
}

@media only screen and (max-width : 768px) {
    #headerimage {
        display: none;
    }
}