@model JsonCMS.Models.Core.SocialNetworks
<ul class="socialIcons">
    @foreach (var social in Model.social)
    {
        <li>
            <a href="@social.url" target="@social.target"><i alt="@social.altText" class="fa @social.icon fa-2x"></i></a>
        </li>
    }
</ul>