<div class="row">
    <div class="col-sm-4">
        <h3>With Thanks</h3>
        <p>
            Thanks to the photographers and writers who made their work available under appropriate creative
            commons licences which made this site possible. All photos have been credited on popups &amp; main images with author links.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Ads on this site</h3>
        <p>
            Limited advertising space will shortly be made available on the site for appropriate
            location based ads.
        </p><br /><p><strong><a href="mailto:info@200towns.co.uk">To contact us click here.</a></strong></p>
    </div>
    <div class="col-sm-4">
        <h3>Disclaimer</h3>
        <p>
            This site pulls unfiltered information from 3rd party sites. If you are offended
            by strong language or are considering showing this site to young children you may wish not to
            use the site.
        </p>
    </div>
</div>

