@model JsonCMS.Models.Core.Menu
<ul class="jetmenu black">
    @foreach (var group in Model.groups)
    {
        <li>
            <a href="#">@group</a>
            <div class="megamenu full-width">
                @{
                    var itemsInGroup = Model.menu.Where(x => x.page.grouping == group);
                    foreach (var item in itemsInGroup)
                    {
                        <div class="townitem"><a href="@item.page.friendlyUrl">@item.page.displayName</a></div>
                    }
                }
            </div>
        </li>
    }
</ul>
